USE [master]
GO
/****** Object:  Database [JQForm]    Script Date: 28-Nov-22 4:15:22 PM ******/
CREATE DATABASE [JQForm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JQForm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JQForm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JQForm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\JQForm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JQForm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JQForm]
GO
USE [JQForm]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 28-Nov-22 4:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Salary] [int] NULL,
	[DOB] [date] NULL,
	[Age] [int] NULL,
	[Language] [varchar](50) NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Emp] ON 

INSERT [dbo].[Emp] ([EmpID], [Name], [Salary], [DOB], [Age], [Language]) VALUES (3, N'Dherya', 32000, CAST(N'1999-06-10' AS Date), 26, N'c#')
INSERT [dbo].[Emp] ([EmpID], [Name], [Salary], [DOB], [Age], [Language]) VALUES (4, N'Miloni', 150000, CAST(N'1998-06-10' AS Date), 28, N'c#')
INSERT [dbo].[Emp] ([EmpID], [Name], [Salary], [DOB], [Age], [Language]) VALUES (5, N'Yash', 50000, CAST(N'1998-06-10' AS Date), 28, N'c#')
SET IDENTITY_INSERT [dbo].[Emp] OFF
GO
USE [master]
GO
